/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


/* https://www.modularscale.com/?1.125&em&1.5*/
html {
  font-family: helvetica, sans-serif;
  font-size: 1.125em; /* 18/16= 1.125 */
  line-height: 1.6875em; /* 27/ 16 = 1.6875*/
  background-color: #2f3133;
  color: #bfbfba;
}
figcaption {
  color: #2f3133;
  font-size: 0.75em; /* 12/16 = 0.75*/
}
.figures {
  display: flex;
  padding: 1.125em; /* 18/16= 1.125 */
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #d69c09;
}
.figures img,
.figures figcaption {
  display: flex;
  max-width: 100%;
}
.figures img {
  padding-bottom: 0.5em; /* 8/16 = 0.5*/
}
figure {
  padding-bottom: 1.125em; /* 18/16= 1.125 */
}

#content {
  padding: 0.75em; /* 12/16 = 0.75*/
}

.navs {
  display: flex;
  flex-flow: row wrap;
  font-size: 1em; /*16/16 = 1*/
  justify-content: center;
  background-color: #a61919;
  padding: 0.75em; /* 12/16 */
  grid-gap: 0.5em; /* 6 / 16*/
  color: #de2121;
}
/* LINKS*/
.navs a {
  text-decoration: none;
}
.navs a:link,
.navs a:visited,
.navs a:hover,
.navs a:active {
  color: inherit;
  padding: 0.74em; /* To fix padding being larger than background padding in navigation bar*/
}
.navs a:hover {
  background-color: #8a1313;
}


/**/

footer {
  text-align: center;
  font-size: 0.75em; /* 12/16 */
}

header {
  text-align: center;
  display: grid;
  font-size: 2em; /**/
  background-color: #F0F0F0;
}
h2,
h3,
h4 {
  font-size: 1.6875em; /* 27/ 16 = 1.6875*/
  padding-top: 0.5em; /* 8/16 = 0.5*/
  padding-bottom: 0.5em; /* 8/16 = 0.5*/
}



@media screen and (min-width: 370px) {
  .figures {
    justify-content: space-around;
  }
  .figures img,
  .figures figcaption {
    min-width: 40vw;
    width: 40vw;
    grid-gap: 10vw;
    max-height: 50vw;
    object-fit: cover;
  }
}
@media screen and (min-width: 750px) {
  .figures {
    display: grid;
    justify-content: space-around;
  }
  .figures img,
  .figures figcaption {
    min-width: 30vw;
    width: 30vw;
  }
}
